<script>
$(function() {

  $.getJSON('/o/{{channel}}', function (res) {
    for (var i = 0; i < res.length; i++) {
      try {
        var data = JSON.parse(res[i]);
        $('#content').append('<blockquote>' + data.msg + '<cite>' + data.user + ' @ ' + moment.unix(parseInt(data.timestamp)).format('MMM Do, HH:mm:ss') + '</cite></blockquote>');
      } catch (e) {
        console.log(e);
      }
    }
  });

  // Sever-sent events
  var source = new EventSource('/s/{{channel}}');

  source.addEventListener('open', function(e) {
    $.globalMessenger().post("Connected to #{{channel}}");
  }, false);

  source.addEventListener('error', function(e) {
    if (e.readyState == EventSource.CLOSED) {
      $.globalMessenger().post({
        message: 'Connection to server lost',
        type: 'error'
      });
    }
  }, false);

  source.addEventListener('message', function(e) {
    // if (e.origin != 'http://example.com') {
    //   alert('Origin was not http://example.com');
    //   return;
    // }
    console.log(e);
    try {
      var data = JSON.parse(e.data);
      // $('ul').prepend('<li>' + data.user + ' ' + data.msg + '</li>');
      $('#content').prepend('<blockquote>' + data.msg + '<cite>' + data.user + ' @ ' + moment.unix(parseInt(data.timestamp)).format('MMM Do, HH:mm:ss') + '</cite></blockquote>');

    } catch (e) {
      console.log(e);
    }
  }, false);

  // Message
  var lastSent;

  var send = function () {
    if ($('#message').val() != "") {
      lastSent = $('#message').val();

      $.post('/p/{{channel}}', {user: localStorage.getItem('name'), msg: $('#message').val(), timestamp: Math.round(new Date().getTime()/1000.0) }, function(res) {
        // console.log(res);
      });

      $('#message').val("");
    }
  };

  $('#message').keyup(function (e) {
    e.preventDefault();
    if (e.which == 13) {
      send();
    } else if (e.which == 38) {
      $('#message').val(lastSent);
    }
  });


  // Name
  var setName = function () {
    $('#namePrompt').hide();
    $('#message').show();
    $.globalMessenger().post("Name changed to " + $('#name').val());
    console.log("name set to " + $('#name').val());
    localStorage.setItem('name', $('#name').val());
  }

  $('#name').keyup(function (e) {
    e.preventDefault();
    if (e.which == 13) {
      setName();
    }
  });

  $('#namePrompt').hide();
  $('#message').hide();

  if (localStorage.getItem('name')) {
    $('#name').val(localStorage.getItem('name'));
    $('#message').show();
    $('#message').attr("placeholder", localStorage.getItem('name') + " says...");
  } else {
    $('#namePrompt').show();
  }
});


</script>

<section class="row">
  <div class="large-6 columns">
    <h3 class="subheader"><a href="/">Hello</a>, you are in <a href="/{{channel}}">#{{channel}}</a></h3>
  </div>
</section>


<section class="row">
  <div class="large-6 columns">
    <div id="namePrompt">
      <div class="row collapse">
        <div class="small-10 columns">
          <input id="name" type="text" placeholder="my name is">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button prefix success">Set</a>
        </div>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-12 columns">
        <input id="message" type="text" placeholder="say something nice" autofocus>
      </div>
    </div>
  </div>
</section>


<section class="row">
  <div class="large-6 columns">
    <div id="content"></div>
  </div>
</section>

